<form class="mt-4" method="POST" action="/products/store">
  <div class="form-group">
    <label for="name" class="product-label">Name</label>
    <input
      type="text"
      class="form-control mt-2"
      name="name"
      id="name"
      placeholder="Enter name"
    />
  </div>
  <div class="form-group mt-3">
    <label for="description" class="product-label">Description</label>
    <input
      type="text"
      class="form-control mt-2"
      name="description"
      id="description"
      placeholder="Enter description"
    />
  </div>
  <div class="form-group mt-3">
    <label for="price" class="product-label">Price</label>
    <input
      type="text"
      class="form-control mt-2"
      name="price"
      id="price"
      placeholder="Enter price"
    />
  </div>
  <button type="submit" class="btn btn-primary mt-3 product-button">ĐĂNG</button>
</form>