<form class="mt-4" method="POST" action="/products/store">
<h3 class="mb-5 text-center font-weight-bold">ĐĂNG SẢN PHẨM</h3>
  <div class="form-group">
    <label for="name" class="font-weight-bold">Tên sản phẩm</label>
    <input
      type="text"
      class="form-control"
      name="name"
      id="name"
      placeholder="Nhập tên sản phẩm"
    />
  </div>
  <div class="form-group mt-3">
    <label for="description" class="font-weight-bold">Mô tả</label>
    <input
      type="text"
      class="form-control"
      name="description"
      id="description"
      placeholder="Nhập mô tả"
    />
  </div>
  <div class="form-group mt-3">
    <label for="price" class="font-weight-bold">Giá bán</label>
    <input
      type="text"
      class="form-control"
      name="price"
      id="price"
      placeholder="Nhập giá"
    />
  </div>
  <button type="submit" class="btn btn-primary mt-3 float-right font-weight-bold">ĐĂNG</button>
</form>