<div class="mt-4">
  <div class="row">
    <div class="col-4">
      <img src="{{products.img}}" alt="" height="400" />
    </div>
    <div class="col-8">
      <h2>{{products.name}}</h2>
      <h4 class="mt-3">Giá bán: {{products.price}} VND</h4>
      <p class="mt-5">{{products.description}}</p>
    </div>
  </div>
</div>