a {
    text-decoration: none;
}

.product-item {
    margin-top: 50px;
}

.product-button {
    float: right;
    font-weight: bold;
}

.product-name {
    font-size: 19px;
    color: dodgerblue;
    font-weight: bold;
}

.product-label {
    font-weight: 500;
}