<form class="mt-4" method="POST" action="">
  <div class="col-auto">
    <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khóa...">
  </div>
  <div class="col-auto mt-3">
    <button type="submit" class="btn btn-primary mb-3">Tìm kiếm</button>
  </div>
</form>